* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-container {
    display: flex;
}

#board-and-side-labels {
    display: flex;
    flex-direction: row;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.labels-row {
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

.labels-column {
    display: grid;
    grid-template-rows: repeat(9, 80px);
}
     
.labels-row div, .labels-column div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    height: 80px;
    width: 80px;

}

.move-history {
    border-radius: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin-left: 20px;
    height: 100%;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

.move-history h3 {
    text-align: center;
    margin-bottom: 10px;
}

.move-history p {
    margin-bottom: 5px;
}

.square {
    height: 80px;
    width: 80px;
    border: 1px solid #000;
}

.black {
    background-color: #964d22;
}

.white {
    background-color: #eeeed2;
}

.piece {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: grab;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}
