* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-container {
    display: flex;
}

#board-and-side-labels {
    display: flex;
    flex-direction: row;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.labels-row {
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

.labels-column {
    display: grid;
    grid-template-rows: repeat(9, 80px);
}
     
.labels-row div {
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: bold;
    font-size: 18px;
    height: 80px;
    width: 80px;

}

.labels-column div {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    height: 80px;
    width: 80px;

}

#undo-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
    width: 50px;
    border-radius: 3px;
}

#redo-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
    width: 50px;
    margin-left: 70px;
    border-radius: 3px;
}

#move-history {
    height:20px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
}

.timer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80px;
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.move-history h3 {
    text-align: center;
    margin-bottom: 10px;
}

.move-history p {
    margin-bottom: 5px;
}

.square {
    height: 80px;
    width: 80px;
    border: 1px solid #000;
}

.black {
    background-color: #964d22;
}

.white {
    background-color: #eeeed2;
}

.piece {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: grab;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}
